@use '../../theme/_variables.scss';
$card-padding: 6px;
$card-shadow-from: rgba(0,0,0,0.19);
$card-shadow-to:  rgba(0,0,0,0.23);

.card {
    width: 70px;
    height: 105px;
    border-radius: 7px;
    box-shadow: 0 10px 20px $card-shadow-from, 0 6px 6px $card-shadow-to;
    background-color: variables.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    label {
        &.small {
            font-size: 16px;
        }

        &.float {
            position: absolute;
            left: $card-padding;
            top: $card-padding;
        }

        &.mirror {
            bottom: $card-padding;
            right: $card-padding;
            transform: rotate(180deg);
        }

        &.large {
            font-size: 60px;
        }

        &.hearts {
            color: variables.$red;
        }
        
        &.clubs {
            color: variables.$black;
        }
        
        &.diams {
            color: variables.$red
        }
        
        &.spades {
            color: variables.$black;
        }
    }
}